slide#prepare-for-the-blackout div.slide-footer {
  display: none;
}
slide#prepare-for-the-blackout h1 {
  padding: 0;
}
.white-background-se {
  background-image: linear-gradient(153.7deg, rgba(0,0,0,0) 50%, white 50%);
}
img.hpi-logo {
  padding: 6em 1em 1em 14.2em;
}

/*
We also scale up all SVG objects because
graphviz directive does not accept option 'width'.
*/
object[type="image/svg+xml"],
img[src^="_images/graphviz-"] {
  zoom: 160%;
  filter: invert(0);
}

img.fuel-logo {
  padding: 3em 1em 1em 16.1em;
}

#exercise-of-campaigns object[type="image/svg+xml"],
#exercise-of-campaigns img[src^="_images/graphviz-"] {
  zoom:85%;
}

#questions object[type="image/svg+xml"],
#questions img[src^="_images/graphviz-"] {
  zoom: 91%;
}
