img.logo-rail2x {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  padding: 2em 2em 5em 15em;
  background-image: linear-gradient(22.6deg, rgba(0,0,0,0) 50%, white 50%);
}

img.logo-mfund {
  position: absolute;
  right: .5em;
  top: 7em;
  width: 7.5%;
}

.logo-banner {
  position: absolute;
  bottom: 1em;
  width: 100%;
}

.logo-banner li:not(:last-of-type) {
  margin-right: 2em;
}

/*
scale up all SVG objects because graphviz directive does not accept
option 'width'
*/
object[data^="_images/graphviz-"] {
  zoom: 150%;
  filter: invert(1);
}
img[src^="_images/graphviz-"] {
  zoom: 150%;
  filter: invert(1);
}

/*
img.mfund-logo {
  padding: 6em 2em 2.5em 10.1em;
}

img.mfund-logo {
  background-image: linear-gradient(149deg, rgba(0,0,0,0) 50%, white 50%);
  z-index: -100;
}
*/

@media print {

  object[data^="_images/graphviz-"] {
    filter: invert(0);
  }

  img[src^="_images/graphviz-"] {
    filter: invert(0);
  }

}
