/*
scale up all SVG objects because graphviz directive does not accept
option 'width'
*/
object[data^="_images/graphviz-"] {
  zoom: 150%;
  filter: invert(1);
}
img[src^="_images/graphviz-"] {
  zoom: 150%;
  filter: invert(1);
}

@media print {

  object[data^="_images/graphviz-"] {
    filter: invert(0);
  }

  img[src^="_images/graphviz-"] {
    filter: invert(0);
  }

}
