img.logo-rail2x {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  padding: 1em 1em 5em 15em;
  background-image: linear-gradient(21.4deg, rgba(0,0,0,0) 50%, white 50%);
}

img.logo-mfund {
  position: absolute;
  right: .5em;
  top: 7em;
  width: 7.5%;
}

.logo-banner {
  position: absolute;
  bottom: 1em;
  width: 100%;
}

.logo-banner li:not(:last-of-type) {
  margin-right: 2em;
}

.text-right {
  text-align: right;
}

/*
scale up all SVG objects because graphviz directive does not accept
option 'width'
*/
object[data^="_images/graphviz-"] {
  zoom: 150%;
  filter: invert(1);
}
img[src^="_images/graphviz-"] {
  zoom: 150%;
  filter: invert(1);
}

@media print {

  object[data^="_images/graphviz-"] {
    filter: invert(0);
  }

  img[src^="_images/graphviz-"] {
    filter: invert(0);
  }

}
